.signup{
    display: grid;
    place-items: center;
    height: 70vh;
    
}

.signup-form{
    background-color: gainsboro;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
    border-radius: 10px;

}

.username, .email, .password{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px ;
}

input{
    height: 30px;
}

.signupbtn{
    width: 100%;
    height: 30px;

}