.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.nav-menu ul{
    display: flex;
}

li{
    padding-right: 20px;
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-search{
    display: flex;
    justify-content: center;
}

.nav-search input{
    width: 50%;
    height: 35px;
    
    font-size: 18px;
}
